.container{
    border:1.5px solid #A4B5BF;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto 35%;
}
.name{
    grid-row: 1/2;
    grid-column: 1/4;
}
.description{
    grid-row:2/3;
    grid-column: 1/4;
}
.buttonContainer{
    grid-row:3/4;
    grid-column: 3/4;
    display: flex;
    justify-content: end;
}
.button{
    width: fit-content;
}